# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SuperSpartyBros.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\unity\Repos\Unity2D\SuperSpartyBros\.idea\.idea.SuperSpartyBros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
